<ActionBar title="">
    <!-- <ActionItem text="Menu" position="left" (tap)="toggleDrawer()"> </ActionItem> -->
    <NavigationButton text="Menu" android.systemIcon="ic_menu_more" (tap)="toggleDrawer()"></NavigationButton>
</ActionBar>

<RadSideDrawer>
     <GridLayout tkDrawerContent rows="auto, *" class="root-drawer-content">
         <StackLayout row="0" col="0">
             <Label [text]="Wow" class="h1 text-center"></Label>
         </StackLayout>
         <ListView row="1" [items]="items" (itemTap)="onNavigationItemTap($event)" class="root-drawer-content">
             <ng-template let-item="item">
                 <StackLayout class="root-item-stack-layout">
                     <Label [text]="item.title" textWrap="true" class="btn btn-primary btn-active"></Label>
                     <StackLayout height="1" class="root-drawer-content"></StackLayout>
                 </StackLayout>
             </ng-template>
         </ListView>
     </GridLayout>

     <GridLayout tkMainContent rows="auto, *" columns="{{getGridColumns()}}" class="scheduleTable">
     <Label text="{{wday}} {{col}}" row="0" col="{{ col }}" *ngFor="let wday of weekDays; let col = index;"></Label>
     </GridLayout>

 </RadSideDrawer>
