<ActionBar [title]="Wow">
     <NavigationButton text="Back" icon="res://ic_arrow_back_black_24dp" (tap)="onNavigationButtonTap()" [visibility]="hasBack ? 'visible' : 'collapsed'"></NavigationButton>
</ActionBar>
<RadSideDrawer>
     <GridLayout tkDrawerContent rows="auto, *" class="root-drawer-content">
         <StackLayout>
             <Label [text]="Wow" class="h1 text-center"></Label>
         </StackLayout>
         <ListView row="1" [items]="items" (itemTap)="onNavigationItemTap($event)" class="root-drawer-content">
             <ng-template let-item="item">
                 <StackLayout class="root-item-stack-layout">
                     <Label [text]="item.title" textWrap="true" class="btn btn-primary btn-active"></Label>
                     <StackLayout height="1" class="root-drawer-content"></StackLayout>
                 </StackLayout>
             </ng-template>
         </ListView>
     </GridLayout>

     <GridLayout tkMainContent>
       <Button (tap)="toggleDrawer()"></Button>
     </GridLayout>

 </RadSideDrawer>
